<div>
<img src="https://edlitera-images.s3.us-east-1.amazonaws.com/new_edlitera_logo.png" width="500"/>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

In [ ]:
import pandas as pd
import numpy as np
import datetime

pd.options.display.float_format = '{:,.2f}'.format

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Add a new column to a DataFrame

In [ ]:
countries = pd.DataFrame({
    'Country': ['Andorra', 'Belgium', 'Croatia']
})

In [ ]:
countries

In [ ]:
countries['GDP'] = 0

countries

In [ ]:
countries['GDP']

In [ ]:
countries['GDP'].dtype

In [ ]:
countries.info()

In [ ]:
gdp = pd.Series([10, 20, 30], index=[1, 2, 3])

gdp

In [ ]:
countries['GDP'] = gdp

In [ ]:
countries

In [ ]:
countries.dtypes

In [ ]:
countries.info()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Add columns with derived data

Let's add a new column, called `Follow Up Date` which represents the date when we should follow up with the customer. It should be 2 weeks after the date of the survey.

In [ ]:
data = pd.read_csv(
    'https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv', 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
import datetime

In [ ]:
datetime.timedelta(weeks=2)

In [ ]:
numbers = pd.Series([1, 2, 3])
numbers

In [ ]:
numbers + 5

In [ ]:
data['Date']

In [ ]:
data['Date'] + datetime.timedelta(weeks=2)

In [ ]:
data['Follow Up Date'] = data['Date'] + datetime.timedelta(weeks=2)

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data['Score Total'] = data['Helpfulness'] + data['Courtesy'] + data['Empathy']

In [ ]:
data.head()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Exercise

Let's assume that we can calculate a customer's overall experience with a customer representative ID using the following weighted average:

`experience = (Helpfulness * 3 + Courtesy * 2 + Empathy) / 6`

Write code that will add a column named `Experience` and populate this new column using the formula above.

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

**SOLUTION:**

In [ ]:
data.head()

In [ ]:
data['Helpfulness'] * 3

In [ ]:
data['Helpfulness'] * 3 + data['Courtesy'] * 2

In [ ]:
data['Courtesy'] * 2

In [ ]:
data['Experience'] = (data['Helpfulness'] * 3 + 
                      data['Courtesy'] * 2 + 
                      data['Empathy']) / 6

In [ ]:
data.head()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Using the DatetimeProperties object to perform operations on datetime data columns

**NOTE:** By default, dates are always assumed to have a time component. If no time is actually specified, the time is assumed to be `00:00:00`.

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

data.head()

In [ ]:
data.info()

In [ ]:
data['Date'][0]

<br><br>

The code below returns just the date component of a datetime object

In [ ]:
data['Date']

In [ ]:
data['Date'].dt

In [ ]:
dir(data['Date'].dt)

In [ ]:
data['Date'].dt.month_name()

In [ ]:
data['Date'] = data['Date'].dt.date

In [ ]:
data.head()

In [ ]:
data['Date'][0]

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## String operations on DataFrame columns

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data['Location']

In [ ]:
data['Location'].str

In [ ]:
dir(data['Location'].str)

In [ ]:
data['Location']

In [ ]:
data['Location']

In [ ]:
data['Location'] = data['Location'].str.replace('online', 'web')

In [ ]:
data.head()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Iterate over the list of columns in a DataFrame

In [ ]:
countries = pd.DataFrame({
    'Country': ['Andorra', 'Belgium', 'Croatia'],
    'GDP': [3.155, 515.3, 55.97],
    'Capital': ['Andorra la Vella', 'Brussels', 'Zagreb']
})

In [ ]:
countries

In [ ]:
countries.info()

In [ ]:
countries.columns

In [ ]:
for col in countries.columns:
    
    print(f'Column {col}')
    print(countries[col])
    print('---------')

### Example:

For each column containing text, create a new column that stores the length of the text values.

In [ ]:
countries

In [ ]:
for col in countries.columns:
    
    if countries[col].dtype == object:
        new_column_name = f"{col}_length"
        countries[new_column_name] = countries[col].str.len()

In [ ]:
countries

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Remove (drop) columns from a DataFrame

### Option 1

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data[[
    'Customer Id', 
    'Helpfulness', 
    'Courtesy', 
    'Empathy',
    'Overall Satisfaction', 
    'Facilities', 
    'Date']]

In [ ]:
data

In [ ]:
id(data)

In [ ]:
data = data[[
    'Customer Id', 
    'Helpfulness', 
    'Courtesy', 
    'Empathy',
    'Overall Satisfaction', 
    'Facilities', 
    'Date']]

In [ ]:
data.head()

In [ ]:
id(data)

<br><br>

### Option 2

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data.drop(columns=['Location', 'Rep Id'])

In [ ]:
data

In [ ]:
id(data)

In [ ]:
data = data.drop(columns=['Location', 'Rep Id'])

In [ ]:
data

In [ ]:
id(data)

<br><br>

### Option 3

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
id(data)

In [ ]:
data.drop(columns=['Location', 'Rep Id'], inplace=True)

In [ ]:
data

In [ ]:
id(data)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Rename columns in a DataFrame

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data.rename(columns={'Overall Satisfaction': 'Satisfaction'})

In [ ]:
data.head()

#### Two ways to make the changes permanent

In [ ]:
# Option 1

data = data.rename(columns={'Overall Satisfaction': 'Satisfaction'})

In [ ]:
# Option 2

data.rename(
    columns={'Overall Satisfaction': 'Satisfaction'}, 
    inplace=True)

In [ ]:
data.head()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Change the data type of a column

#### Why you might need to do this:
* use less memory (e.g. why use int64 if your largest number is less than 10?)
* the original data type is not useful / incorrect

You can use `.astype()` to change the data type of a column. This is equivalent (in a way) to telling Excel to interpret certain columns as numbers, text, dates, etc.

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
data.info()

**NOTE:** `.astype()` doesn't support an `inplace` parameter, so it won't actually modify the original dataframe.

In [ ]:
data['Location'].unique()

In [ ]:
data['Location'].astype('category')

In [ ]:
data['Location'] = data['Location'].astype('category')

In [ ]:
data.dtypes

**We'll learn more about the `category` data type - it can be very useful when handling large amounts of data!**

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data[['Helpfulness', 'Courtesy', 'Empathy']].astype('int8')

In [ ]:
data[['Helpfulness', 'Courtesy', 'Empathy']] = data[['Helpfulness', 'Courtesy', 'Empathy']].astype('int8')

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
for col in data.columns:
    if data[col].dtype == 'int64':
        data[col] = data[col].astype('int16')

In [ ]:
data.head()

In [ ]:
data.info()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Filter data by column value

In [ ]:
[1796, 1500, 1796, 1800] == 1796

In [ ]:
np.array([1796, 1500, 1796, 1800])

In [ ]:
np.array([1796, 1500, 1796, 1800]) == 1796

#### So, what happens when you compare a Series object with, say, an integer value?

In [ ]:
numbers = pd.Series([1796, 1500, 1796, 1800])

In [ ]:
numbers

In [ ]:
numbers == 1796

In [ ]:
numbers_array = np.array([1796, 1500, 1796, 1800])

In [ ]:
numbers_array

In [ ]:
numbers_array[:2]

In [ ]:
numbers_array[ [True, False, True, True] ]

In [ ]:
numbers_array[ numbers_array == 1796 ]

#### Interesting. What about passing a boolean array to a Series object?

In [ ]:
numbers

In [ ]:
numbers[ [True, False, True, False] ]

In [ ]:
numbers[ numbers == 1796 ]

#### This works for DataFrames too!

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data['Customer Id']

In [ ]:
data['Customer Id'] == 1796

#### Remember `.loc`?

<div>
<img src="https://edlitera-images.s3.us-east-1.amazonaws.com\df_loc_2.png" width="500"/>
</div>

<br><br><br>

In [ ]:
data.loc[ data['Customer Id'] == 1796 ]

In [ ]:
data.loc[ data['Customer Id'] == 1796, ['Helpfulness', 'Courtesy']]

In [ ]:
data[ data['Customer Id'] == 1796 ]

In [ ]:
# Let's get all the responses for customer with ID 1796

responses = data[ data['Customer Id'] == 1796 ]
responses

<br><br><br>

## Exercise

Using the customer survey data, get the first 10 survey responses for the rep id 1143. How many responses for this customer representative do we have in total?

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

**SOLUTION:**

In [ ]:
data.head()

In [ ]:
data['Rep Id'] == 1143

In [ ]:
data.loc[ data['Rep Id'] == 1143 ]

In [ ]:
responses = data.loc[ data['Rep Id'] == 1143 ]
responses.head(10)

In [ ]:
responses.shape

In [ ]:
responses.shape[0] # 204 survey responses

<br><br>

## More examples of filtering by column

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data['Helpfulness'] > 1.5

In [ ]:
# How many survey responses have a helpfulness score > 1.5?

helpful = data.loc[ data['Helpfulness'] > 1.5 ]

In [ ]:
helpful.shape

We can use a variety of comparison operators, as needed:

* `>`
* `<`
* `>=`
* `<=`
* `==` (check for equality)
* `!=` (check for inequality)

In [ ]:
data.loc[ data['Rep Id'] != 1143 ]

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Filter data by multiple column values

How do we get the survey responses that have a score of less than 2 in all categories (`Helpfulness`, `Courtesy`, `Empathy`)?

In [ ]:
(data['Helpfulness'] < 2)

In [ ]:
(data['Empathy'] < 2)

In [ ]:
(data['Helpfulness'] < 2) & (data['Empathy'] < 2)

In [ ]:
(
    (data['Helpfulness'] < 2) & 
    (data['Empathy'] < 2) & 
    (data['Courtesy'] < 2)
)

In [ ]:
bad = data[ (data['Helpfulness'] < 2) & 
            (data['Empathy'] < 2) & 
            (data['Courtesy'] < 2) ]
bad

<br><br>

**NOTE:**
* use `&` (pronounced **and**) when you want all conditions to be met
* use `|` (pronounced **or**) when you want either of the conditions to be met
* use `~` (pronounced **not**, in this case) when you want to negate a condition

<br><br>

How many surveys have a score less than 2 in either of the 3 categories above?

In [ ]:
bad = data[ (data['Helpfulness'] < 2) |
            (data['Empathy'] < 2) | 
            (data['Courtesy'] < 2) ]

bad.shape # 416 - Yikes, we should do better!

<br>

How many surveys have a helpfulness score that **is not greater** than 2?

In [ ]:
(data['Helpfulness'] > 2)

In [ ]:
~(data['Helpfulness'] > 2)

In [ ]:
data[ ~(data['Helpfulness'] > 2) ]

In [ ]:
(data['Rep Id'] == 2105)

In [ ]:
(data['Location'] == 'store')

In [ ]:
data[ (data['Location'] == 'store') & (data['Rep Id'] == 2105)]