<div>
<img src="https://edlitera-images.s3.us-east-1.amazonaws.com/new_edlitera_logo.png" width="500"/>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

In [ ]:
import pandas as pd
import numpy as np
import datetime

pd.options.display.float_format = '{:,.2f}'.format

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Pivot tables
Very similar to Excel pivot tables.

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

In [ ]:
data.head()

In [ ]:
reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

reps.head()

In [ ]:
data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

<br><br><Br>

Let's find out the average scores in each category for each rep.

In [ ]:
data.pivot_table(
    index='Rep Name', 
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc='mean')

**NOTES:**
* `index` allows us to specify how we group the rows in the DataFrame
* `values` allows us to specify which columns to aggregate
* `aggfunc` allows us to specify what kind of aggregations to perform (sums, means, etc.)

<br><br><br>

## Computing multiple aggregations in a pivot table, at the same time

In [ ]:
data.head()

In [ ]:
dt = data.pivot_table(
    index='Rep Name', 
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

dt

In [ ]:
dt.index

In [ ]:
dt.columns

In [ ]:
dt.loc['Joanna', ('mean',    'Courtesy')]

<br><br><br>

## Breaking down (splitting) aggregations by other columns

In [ ]:
dt = data.pivot_table(
    index='Rep Name', 
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

dt

<br><br>

You will notice that the survey data is from two different years. We can further break down the data by year.

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
dt = data.pivot_table(
    index=['Rep Name', 'Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

dt

In [ ]:
dt.index

In [ ]:
dt.columns

In [ ]:
dt.loc[('Mark', '2019-12-01'), ('mean', 'Courtesy')]

In [ ]:
dt.loc['Nicole']

In [ ]:
dt.loc[:, [('mean', 'Empathy')]]

<br><br>

## Another way to break down aggregations by other columns

So far, we've done this:

In [ ]:
dt = data.pivot_table(
    index=['Rep Name', 'Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

dt

<br><Br>

But, we can also do this:

In [ ]:
dt = data.pivot_table(
    index=['Rep Name'],
    columns=['Date', 'Location'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

dt

In [ ]:
dt.index

In [ ]:
dt.columns

In [ ]:
dt.loc['Joanna', ('mean', 'Courtesy', '2019-12-01', 'online')]

<br><br><br>

## Add totals to your pivot table

In [ ]:
data.pivot_table(
    index='Rep Name', 
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'median'])

<br><br>

What if we want to add subtotals?

In [ ]:
data.pivot_table(
    index='Rep Name', 
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'median'], 
    margins=True)

In [ ]:
data.pivot_table(
    index='Rep Name', 
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'median'], 
    margins=True).columns

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Aggregating and summarizing data with the `groupby()` method

This works similarly to `SQL`'s `GROUP BY`

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

<br><br>

We want to compute the average `Helpfulness`, `Courtesy` and `Empathy` scores by `Rep Name` and `Date`.

In [ ]:
data[[
    'Helpfulness', 
    'Courtesy', 
    'Empathy', 
    'Rep Name', 
    'Date']]

In [ ]:
dt = data[[
    'Helpfulness', 
    'Courtesy', 
    'Empathy', 
    'Rep Name', 
    'Date']].groupby(['Rep Name', 'Date']).mean()

dt

In [ ]:
dir(data[[
    'Helpfulness', 
    'Courtesy', 
    'Empathy', 
    'Rep Name', 
    'Date']].groupby(['Rep Name', 'Date']))

### `groupby` syntax explained

<div>
<img src="https://edlitera-images.s3.us-east-1.amazonaws.com\groupby_1.png" width="700"/>
</div>

### `groupby` mechanics explained

<div>
<img src="https://edlitera-images.s3.us-east-1.amazonaws.com\groupby_2.png"/>
</div>

<br><br><br><br><br><br>

## Compute multiple aggregations at once using the `groupby` method

In [ ]:
data[['Helpfulness', 'Courtesy', 'Empathy', 'Rep Name', 'Date']] \
   .groupby(['Rep Name', 'Date']).agg(['mean', 'std'])

In [ ]:
(
    data[[
        'Helpfulness', 
        'Courtesy', 
        'Empathy', 
        'Rep Name', 
        'Date']]
    .groupby(['Rep Name', 'Date'])
    .agg(['mean', 'std'])
)

In [ ]:
df = (
    data[[
        'Helpfulness', 
        'Courtesy', 
        'Empathy', 
        'Rep Name', 
        'Date']]
    .groupby(['Rep Name', 'Date'])
    .agg(['mean', 'std'])
)

df

In [ ]:
dt.index

In [ ]:
df.columns

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Accessing data when you have a multi-index

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

In [ ]:
pivot_data = data.pivot_table(
    index=['Rep Name', 'Location'],
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

In [ ]:
pivot_data

In [ ]:
pivot_data.index

In [ ]:
pivot_data.columns

<br><br><br><br>

### Extract one row from a DataFrame with a row multi-index

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[ ('Nicole',  'store') ]

In [ ]:
pivot_data.loc[ ('Sam', 'online') ]

<br><br><br><br>

### Extract multiple rows from a DataFrame with a row multi-index

We have several options, depending on what we want:
<br>
* we can use a slice notation
<br><br>
* if we have `n` levels in the row index, we can specify a value for the first `x` levels, where `x < n`

### Using a slice notation

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[ ('Nicole',  'online'):('Sam', 'store') ]

In [ ]:
pivot_data.loc[ [ ('Nicole',  'online'), ('Sam', 'store'), ('Mark', 'online') ] ]

#### Btw, `iloc` uses row positions, NOT row index labels, so nothing changes when you use `iloc`

In [ ]:
pivot_data

In [ ]:
pivot_data.iloc[2:6]

<br><br>

### Using the first `x` levels of the multi-index, where `x < n` and `n` is the total number of levels in the row multi-index

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[('Mark',)]

<br>

**Btw, instead of passing a single-item tuple, you can also just pass the value directly:**

In [ ]:
pivot_data.loc['Mark']

In [ ]:
pivot_data.loc['Nicole']

<br><br><br><br>

### Extract one column from a DataFrame with a column multi-index

In [ ]:
pivot_data

In [ ]:
pivot_data.columns

In [ ]:
pivot_data.loc[:, ('mean', 'Courtesy', '2018-12-01')]

In [ ]:
pivot_data.loc[:, ('std', 'Empathy', '2019-12-01')]

<br><br><br><br>

### Extract multiple columns from a DataFrame with a column multi-index

We have several options, depending on what we want:
<br>
* we can use a slice notation
<br><br>
* if we have `n` levels in the column index, we can specify a value for the first `x` levels, where `x < n`

### Using a slice notation

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[:, ('mean', 'Courtesy', '2018-12-01'):('mean', 'Helpfulness', '2018-12-01')]

**This is a pretty long line, we can also write it like this:**

In [ ]:
start_index = ('mean', 'Courtesy', '2018-12-01')
stop_index = ('mean', 'Helpfulness', '2018-12-01')

pivot_data.loc[:, start_index:stop_index]

In [ ]:
pivot_data.columns

In [ ]:
col1 = ('mean', 'Courtesy', '2018-12-01')
col2 = ('mean', 'Empathy', '2018-12-01')
col3 = ('std', 'Courtesy', '2019-12-01')

pivot_data.loc[:, [col1, col2, col3]]

#### Btw, `iloc` uses column positions, NOT column index labels, so nothing changes when you use `iloc`

In [ ]:
pivot_data.iloc[:, 2:6]

<br><br>

### Using the first `x` levels of the multi-index, where `x < n` and `n` is the total number of levels in the column multi-index

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[:, ('mean',)]

In [ ]:
pivot_data.loc[:, ('mean', 'Courtesy')]

**NOTE: This will NOT work**

In [ ]:
pivot_data.loc[:, ('mean', '2018-12-01')]

<br><br><br><br>

### Extract sections of a DataFrame using both row and index selectors

**NOTE: There's nothing special about DataFrames with multi-indexes, as far as `iloc` is concerned**

In [ ]:
pivot_data

In [ ]:
pivot_data.iloc[:4, 2:6]

<br><br>

**If you use `loc`, you must use the correct row / column index labels**

In [ ]:
pivot_data.index

In [ ]:
pivot_data.columns

In [ ]:
pivot_data

In [ ]:
pivot_data.loc[('Joanna', 'store'), ('mean',)]

In [ ]:
pivot_data.loc[('Mark', 'online'), ('mean', 'Helpfulness')]

In [ ]:
pivot_data.loc[('Nicole',), ('mean',)]

In [ ]:
pivot_data.loc['Nicole', ('mean', 'Empathy')]

<br><br><br><br>

### IMPORTANT: Pay attention to the data type of the values in the row / column indexes

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

# Convert the values in the `Date` 
# column to Python datetime objects
data['Date'] = data['Date'].dt.date

reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

In [ ]:
pivot_data = data.pivot_table(
    index=['Rep Name', 'Location'],
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

In [ ]:
pivot_data

In [ ]:
pivot_data.index

In [ ]:
pivot_data.columns

In [ ]:
pivot_data.loc[:, ('mean', 'Courtesy', '2018-12-01')]

In [ ]:
import datetime

In [ ]:
date_of_interest = datetime.date(year=2018, month=12, day=1)
date_of_interest

In [ ]:
pivot_data.loc[:, ('mean', 'Courtesy', date_of_interest)]

<br><br><Br><br><br><Br>

## Sorting aggregated data

In [ ]:
data.head()

In [ ]:
data.sort_values(
    by=['Helpfulness'], 
    ascending=[False],
    inplace=True
)

In [ ]:
data.head()

In [ ]:
grouped_data = (
    data[[
        'Helpfulness', 
        'Courtesy', 
        'Empathy', 
        'Rep Name', 
        'Date']]
    .groupby(['Rep Name', 'Date'])
    .agg(['mean', 'std'])
)

In [ ]:
grouped_data.head()

In [ ]:
grouped_data.columns

In [ ]:
grouped_data.sort_values(
    by=[('Helpfulness', 'mean')], 
    ascending=[False]
)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Rotate a DataFrame

You can just use `.T` (which stands for `transpose`)

In [ ]:
data.head()

In [ ]:
pivot_data = data.pivot_table(
    index='Rep Name', 
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc='mean')

In [ ]:
pivot_data

In [ ]:
pivot_data.T

In [ ]:
pivot_data

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Flatten a row multi-index

`.reset_index()` will do its best to give you back a DataFrame with a 'flat' row index

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

In [ ]:
pivot_data = data.pivot_table(
    index=['Rep Name', 'Location'],
    columns=['Date'],
    values=['Helpfulness', 'Courtesy', 'Empathy'], 
    aggfunc=['mean', 'std'])

In [ ]:
pivot_data

In [ ]:
pivot_data.reset_index()

In [ ]:
pivot_data.reset_index().columns

In [ ]:
pivot_data

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Different ways to aggregate and summarize data

With a single line of code, we can compute basic stats about our data set.

In [ ]:
data = pd.read_csv(
    "https://edlitera-datasets.s3.amazonaws.com/survey_sample.csv", 
    parse_dates=['Date']
)

reps = pd.read_excel(
    'https://edlitera-datasets.s3.amazonaws.com/survey_mappings.xlsx',
    'Reps'
)

data = pd.merge(
    data, reps, 
    left_on='Rep Id', right_on='Rep Id', 
    how='left'
)

data.head()

In [ ]:
data.describe()

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Calculate the `mean` for all values in a given column

#### What is the mean helpfulness score?

In [ ]:
data['Helpfulness']

In [ ]:
data['Helpfulness'].mean()

In [ ]:
data[ ['Helpfulness'] ].describe().loc['mean', 'Helpfulness']

#### What is the mean customer experience for Joanna vs Nicole?

In [ ]:
data.loc[ data['Rep Name'] == 'Joanna', 'Helpfulness']

In [ ]:
# For Joanna
data.loc[data['Rep Name'] == 'Joanna', 'Helpfulness'].mean()

In [ ]:
# For Nicole
data.loc[data['Rep Name'] == 'Nicole', 'Helpfulness'].mean()

**NOTE:** We also have `.min()`, `.max()`, `.sum()`, etc.

In [ ]:
data['Helpfulness'].agg(['mean', 'sum'])

In [ ]:
dir(data['Helpfulness'])

<br><br><br><br><br><br>

## Exercise

We have an Excel sheet containing information about a fictitious crypto currency exchange, which you can find here: https://edlitera-datasets.s3.amazonaws.com/crypto_exchange.xlsx. 

Open the file and familiarize yourself with it. The first sheet contains transaction information, including the date of the transaction, the sender / recipient pair, the amount transfered and whether the transaction was successful or not. 

The second sheet lists whether the transactions where initially flagged or not. A transaction would be flagged if it was considered suspicious. The second sheet does not have column headers, however the first column can be used to identify a transaction as follows: the values in that column can be obtained using the following formula: `sender-recipient-id`, where `sender` is the transaction's sender address, `recipient` is the transaction's recipient address and the `id` is the unique transaction identifier. You can find all those values in the first sheet, for each transaction.

Using this data, perform the following operations:

#### 1. Import the two data sheets into separate DataFrames. For the second DataFrame, use the following custom column names: `Key` and `Flag`.

#### 2. Merge the two DataFrames into a single DataFrame which contains all the transaction columns, as well as the `Flag` column of the second sheet, which has values `Yes` for transactions that were flagged as suspicious and values `No` for transactions that were not considered suspicious.

#### 3. Going forward, we will only use the `Date`, `Currency`, `Sender`, `Recipient`, `Amount`, `Status` and `Flag` column. Drop all the other columns.

#### 4. Some rows are missing information. How many such rows do we have? After you answer the question, remove those rows from the DataFrame.

#### 5. What's the average amount transferred, by `Currency`?

#### 6. What's the total amount transferred by `Date`, `Sender` and `Currency`?

#### 7. What is the total amount of BTC that was not successfully transferred (`Status='NOK'`)?

#### 8. Which transactions were initially flagged, but were eventually executed successfully? How many of them are there and what is the average amount of those transactions?

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

**SOLUTION:**

#### 1. Import the two data sheets into separate DataFrames. For the second DataFrame, use the following custom column names: `Key` and `Flag`.

In [ ]:
transactions = pd.read_excel(
    "https://edlitera-datasets.s3.amazonaws.com/crypto_exchange.xlsx", 
    "Sheet1", skiprows=4
)

transactions.head()

In [ ]:
transactions.info()

In [ ]:
flags = pd.read_excel(
    "https://edlitera-datasets.s3.amazonaws.com/crypto_exchange.xlsx", 
    "Flagged Transactions", 
    header=None, 
    names=["Key", "Flag"]
)

flags.head()

In [ ]:
flags.info()

<br><br><br>

#### 2. Merge the two DataFrames into a single DataFrame which contains all the transaction columns, as well as the `Flag` column of the second sheet, which has values `Yes` for transactions that were flagged as suspicious and values `No` for transactions that were not considered suspicious.

In [ ]:
transactions.head()

In [ ]:
flags.head()

First, we need to create a new column in the transactions dataframe, which will merge the `sender`, `recipient` and `transaction id`. 


We will use this column for merging.

In [ ]:
transactions['Key'] = (
    transactions['Sender'] + '-' +
    transactions['Recipient'] + '-' +
    transactions['Id']
)

transactions.head()

In [ ]:
data = pd.merge(
    transactions, flags, 
    left_on='Key', right_on='Key', 
    how='left'
)

data.head()

<br><br><Br>

#### 3. Going forward, we will only use the `Date`, `Currency`, `Sender`, `Recipient`, `Amount`, `Status` and `Flag` columns. Drop all the other columns.

In [ ]:
data.head()

In [ ]:
data.columns

In [ ]:
data.drop(columns=['Id', 'Key'], inplace=True)

In [ ]:
data.head()

<br><br><Br>

#### 4. Some rows are missing information. How many such rows do we have? After you answer the question, remove those rows from the DataFrame.

In [ ]:
data.info()

We notice that the `Flag` column has 97 non-null values, so it's missing 3 values.

In [ ]:
data['Flag'].isnull()

In [ ]:
data[ data['Flag'].isnull() ]

In [ ]:
data[ ~data['Flag'].isnull() ]

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.info()

We now have only 97 rows in our DataFrame, because we dropped the rows that were missing values in the `Flag` column.

<Br><br><br>

#### 5. What's the average amount transferred, by `Currency`?

In [ ]:
data.pivot_table(
    index='Currency',
    values='Amount',
    aggfunc='mean'
)

<br><br><br>

#### 6. What's the total amount transferred by `Date`, `Sender` and `Currency`?

In [ ]:
(
    data
    .pivot_table(
        index=['Sender', 'Currency'], 
        columns=['Date'],
        values=['Amount'],
        aggfunc='sum'
    )
)

<br><br><br>

#### 7. What is the total amount of BTC that was not successfully transferred (`Status='NOK'`)?

In [ ]:
data.loc[
    (data['Status'] == 'NOK') & (data['Currency'] == 'BTC'), 
    'Amount'
].sum()

<br><br><br>

#### 8. Which transactions were initially flagged, but were eventually executed successfully? How many of them are there and what is the average amount of those transactions?

In [ ]:
data.head()

In [ ]:
flagged = data.loc[ (data['Status']=='OK') & (data['Flag']=='Yes') ]

flagged

In [ ]:
flagged.shape[0]

In [ ]:
flagged['Amount']

In [ ]:
flagged['Amount'].mean()

In [ ]:
flagged['Amount'].sum()